@using EMarket.Core.Application.ViewModel.Advertising
@model List<AdvertisingViewModel>

@{
    ViewData["Title"] = "My Advertising";
}

<div class="border-start border-custom border-5 d-flex justify-content-between">
    <h1 class="text-lg-start fs-4">&nbsp;My Advertisings</h1> 
    <a asp-action="Create" asp-controller="Advertising" class="btn btn-custom">Create New</a>
</div>

 @if (Model == null || Model.Count == 0)
        {
            <div class="container-fluid mt-5 mb-3">
    <div class="row">
            <div class="d-block text-center">
                <h2>You don't have advertising(s).</h2>
                <span>Create one and Try again more later.</span>
            </div>
            </div>
            </div>
        }
        else{
<div class="container-fluid mt-5 mb-3">
    <div class="row">
        @foreach(AdvertisingViewModel advertising in Model){
        <div class="col-4 d-flex mb-5">
            <div class="card mt-2 mb-4 shadow shadow-lg">
                    <img src="@advertising.PrincipalPhoto" class="card-img-top w-100"/>
                <div class="card-body">
                    <h2 class="card-title"><a asp-action="Details" asp-controller="Advertising" asp-route-id=@advertising.Id class="fs-4 text-decoration-none text-black">@advertising.Name</a></h2>
                    <span class="badge badge-category mb-3">@advertising.Category</span>
                    <div class="d-flex justify-content-between me-2">
                        <p class="card-text">@(advertising.Description.Length<=40?advertising.Description:advertising.Description.Substring(0,40))</p>
                        <p class="card-text text-text-currency"><h4 class="text-price">@advertising.Price.ToString("C")</h4></p>
                    </div>
                    <div class="d-flex btn-group float-end">
                        <a class="btn btn-warning" asp-controller="Advertising" asp-action="Edit" asp-route-id=@advertising.Id >Edit</a>
                        <a asp-action="Delete" asp-controller="Advertising" asp-route-id=@advertising.Id class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        }
            
                        

    </div>
</div>
}